__pycache__/
/mokit/lib/*.so
/bin/*
/src/*.o
/src/*.mod
/src/*.make
/src/html/
/src/latex/
/src/Doxyfile*
/lib

*.egg-info/
build/
dist/
*-wheels/
conda_out/
conda_build/
*.json
linux-64/
noarch/
*.html
tmp*

/test/*/*.fch*
/test/*/*.chk
/test/*/*hf.gjf
/test/*/*.log
/test/*/*.gms
/test/*/*.dat
/test/*/*.inp
/test/*/*.txt
/test/*/*.py
/test/*/*out
/test/*/*pyscflog
/test/*/*_proj_*
/test/*/*CASSCF*
/test/utilities/
/test/bas_fch2py/
/test/ist7/
