__pycache__/
/mokit/lib/*.so
/bin/*
/src/*.o
/src/*.mod
/src/*.make

*.egg-info/
build/
dist/
*-wheels/
conda_out/
conda_build/
*.json
linux-64/
noarch/
*.html

/test/*/*.fch*
/test/*/*.chk
/test/*/*.log
/test/bas_fch2py/
/test/ist7/
